*{
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.formTitle{
  color: white;
}

form{
  padding: 30px;
  margin-right: 20px;
}

label{
  color: white;
  font-size: 1rem;
  padding-bottom: 5px;
  padding-top: 15px;

}



.error{
  position: absolute;
  color: red;
  font-size: .8rem;
  
}
